---
layout: layouts/hlavni-sablona.njk
---

<!-- vložíme hlavičku stránky -->
{% include 'partials/header.njk' %}

<!-- přidáme menu -->
{% include 'partials/menu.njk' %}


<main class="main">


	
	<article class="article">
	
		<h1 class="article__title">{{title}}</h1>
	
		<p class="article__meta">Publikováno {{ page.date.toLocaleString('cs-CZ') }}</p>
		<div class="article__content">
	
			<div class="article__text">
	
				<p class="article__perex"> {{perex}} </p>

				{{ content | safe }}
			
			</div>
	
			<img class="article__image" src="/images/{{ foto }}" alt="{{alt}}">
	
		</div>
	
	</article>
	
	
</main>


<!-- vložíme patičku stránky -->
{% include 'partials/footer.njk' %}