<nav class="menu">
	<ul class="menu__list">
		<li class="menu__item {{'menu__item--active' if page.fileSlug===''}}" ></li><a href="/" class="menu__link">Úvod</a></li>
		<li class="menu__item {{'menu__item--active' if page.fileSlug==='produkty'}}"><a href="/produkty/" class="menu__link">Produkty</a></li>
		<li class="menu__item {{'menu__item--active' if page.fileSlug==='onas'}}"><a href="/onas/" class="menu__link">O nás</a></li>
		<li class="menu__item {{'menu__item--active' if page.fileSlug==='blog' }} "><a href="/blog/" class="menu__link">Blog</a></li>
	</ul>
</nav>