<nav class="menu">
	<ul class="menu__list">
		<li class="menu__item"><a href="#" class="menu__link">Úvod</a></li>
		<li class="menu__item"><a href="#" class="menu__link">Produkty</a></li>
		<li class="menu__item"><a href="#" class="menu__link">O nás</a></li>
	</ul>
</nav>